@use 'base' as *;

.nav {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin: $margin-nav 0;
  position: absolute;
  z-index: 1;

  &__logo {
    width: $icon-width-logo;
    position: absolute;
    top: -15px;
    left: $margin-nav-icon;
  }

  &__list, &__symbols {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: $font-size;
    flex-wrap: wrap;
  }

  &__list {
    width: 400px;
  }

  &__list-item {
    margin: 0 $margin-nav-list;
    text-decoration: none;
    color: $secundary-color;
    border: none;
    background: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease-in-out;

    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0;
      background-color: $secundary-color;
      transition: all 0.2s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }
  }

  &__symbols {
    position: absolute;
    right: $margin-nav-icon;

    #nav__icon-3 {
      display: none;
    }
  }

  &__symbols-item {
    &__icon {
      color: $secundary-color;
      position: relative;
      margin-left: 20px;

      &:after {
        content: "";
        position: absolute;
        top: 115%;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 0;
        background-color: $secundary-color;
        transition: all 0.2s ease-in-out;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}

.header {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 0;

  &__banner {
    &__brand {
      @include positioning(40%);
    }

    &__buttons {
      display: flex;
      @include positioning(90%);
    }
  }
}

.shop {
  width: 100%;
  z-index: 0;
  @include textAlign();

  &__heading {
    background-color: $tertiary-color;

    &__title {
      padding-top: 80px;
      font-size: 80px;
      letter-spacing: 2px;
    }

    &__paragraph {
      padding-top: 35px;
      padding-bottom: 35px;
      font-size: $font-size;
    }
  }

  &__filters {
    background-color: $secundary-color;
  }

  &__amount {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: 30px 50px 0 0;

    &__selection {
      margin-left: 8px;
      background: none;
      color: $secundary-color;
      border: none;
      font-size: $font-size;

      option {
        color: $primary-color;
        font-size: 16px;
      }
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__item {
    width: 400px;
    height: 457px;
    margin: 20px 25px 0 25px;
    background-color: $secundary-color;
    border-radius: 25px;
    position: relative;

    &__img {
      margin-top: 20px;
      object-fit: cover;
      height: 300px;
    }

    &__info {
      color: $primary-color;
      width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: right;
    }

    .shop__name-price {
      display: flex;
      font-size: $font-size;
      margin: 10px 20px 0 20px;
      justify-content: space-between;
    }
  }
}

.login {
  width: 100%;
  z-index: 0;
  @include textAlign();

  &__heading {
    background-color: $tertiary-color;

    &__title {
      padding-top: 80px;
      font-size: 80px;
      letter-spacing: 2px;
    }

    &__paragraph {
      padding-top: 35px;
      padding-bottom: 35px;
      font-size: $font-size;
    }
  }

  &__create-account {
    background-color: $secundary-color;
  }

  #loginForm {
    display: flex;
    justify-content: center;
  }

  form {
    margin: 60px 30px 60px 30px;
    max-width: 40rem;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0 16px 0;
    display: inline-block;
    box-sizing: border-box;
  }

  .loginLabels {
    font-size: 16px;
  }

  #submit__button {
    background-color: $tertiary-color;
    color: $secundary-color;
    padding: 14px 20px;
    width: 230px;
    font-size: 16px;
    margin: 0 0 16px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    transition: all .2s ease-in-out;
  }

  #submit__button:hover {
    background-color: $secundary-color;
    color: $tertiary-color;
  }

  &__forgot {
    background-color: $secundary-color;
  }

  /*span.psw {
    float: right;
    padding-top: 16px;
  }*/

  @media screen and (max-width: 300px) {
    /*span.psw {
      display: block;
      float: none;
    }*/
  }
}

.shopping-cart {
  z-index: 0;
  width: 100%;
  @include textAlign();

  &__heading {
    background-color: $tertiary-color;

    &__title {
      padding-top: 80px;
      font-size: 80px;
      letter-spacing: 2px;
    }

    &__paragraph {
      padding-top: 35px;
      padding-bottom: 35px;
      font-size: $font-size;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .cart-item {
      margin: 20px;
      background-color: $secundary-color;
      border: none;
      border-radius: 25px;
      text-align: center;
      max-width: 550px;
      display: flex;
      flex-direction: row;

      img {
        margin: 20px;
        object-fit: cover;
        height: 200px;
      }

      .cart-item-info {
        color: $primary-color;
        width: 200px;
        margin: 20px 20px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: right;
        position: relative;

        .item-details {
          height: 125px;
          display: flex;
          flex-direction: column;
          font-size: $font-size;
          align-items: start;
          position: relative;

          .item-details-title {
            font-size: 28px;
          }

          .item-details-price {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }

  &__total {
    margin-top: 30px;
    text-align: center;

    p {
      font-size: 36px;
      margin-bottom: 10px;
    }

    button {
      background-color: $tertiary-color;
      color: $secundary-color;
      height: 55px;
      width: 200px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        background-color: $secundary-color;
        color: $tertiary-color;
      }
    }
    //margin: 20px 20px 20px 0;
    //height: 55px;
    //width: 200px;
    //border-radius: 25px;
    //font-size: 19px;
    //color: $secundary-color;
    //text-decoration: none;
    //border: 2px solid $tertiary-color;
    //background-color: $tertiary-color;
    //cursor: pointer;
    //transition: all .2s ease-in-out;
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //position: relative;
    //bottom: 0;
    //
    //&:hover {
    //  background-color: $secundary-color;
    //  color: $primary-color;
    //}
  }
}

.footer {
  display: flex;
  width: 100%;
  margin-top: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  &__socials {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: $font-size;
    margin-left: 3rem;
    position: relative;
  }

  &__socials, h1 {
    margin-top: 30px;
  }

  &__socials-item {
    &__icon {
      margin: 0 8px;
      position: relative;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 0;
        background-color: $tertiary-color;
        transition: all 0.2s ease-in-out;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}