@use 'base' as *;

.login {
  width: 100%;
  z-index: 0;
  @include textAlign();

  &__heading {
    background-color: $tertiary-color;

    &__title {
      padding-top: 80px;
      font-size: 80px;
      letter-spacing: 2px;
    }

    &__paragraph {
      padding-top: 35px;
      padding-bottom: 35px;
      font-size: $font-size;
    }
  }

  &__create-account {
    background-color: $secundary-color;
  }

  #loginForm {
    display: flex;
    justify-content: center;
  }

  form {
    margin: 60px 30px 60px 30px;
    max-width: 40rem;
  }

  input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0 16px 0;
    display: inline-block;
    box-sizing: border-box;
  }

  .loginLabels {
    font-size: 16px;
  }

  #submit__button {
    background-color: $tertiary-color;
    color: $secundary-color;
    padding: 14px 20px;
    width: 230px;
    font-size: 16px;
    margin: 0 0 16px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    transition: all .2s ease-in-out;
  }

  #submit__button:hover {
    background-color: $secundary-color;
    color: $tertiary-color;
  }

  &__forgot {
    background-color: $secundary-color;
    box-shadow: 0 18px 10px 10px rgba(255, 255, 255, 1);
    margin-bottom: 2rem;
  }
}